RewriteEngine On

# Route / to index.html
RewriteRule ^$ /wallet/index.html [L]

# Route /wallet/user to /wallet/user/user.html
RewriteRule ^user/?$ /wallet/user/user.html [L]

# Route /wallet/admin to /wallet/admin/admin.html
RewriteRule ^admin/?$ /wallet/admin/admin.html [L]

# Route all user requests to userRouter.php 
RewriteRule ^user/api/(.*)$ /wallet/server/user/userRouter.php?action=$1 [L,QSA]

