/* reset */
*{
    margin: 0;
    padding: 0;
}
/* root values */
body{
    color: var(--quaternary-color);
    font-size: 19px;
    
}
:root{
    --primary-color:#212a32;
    --secondary-color:#2a343d;
    --tertiary-color:#10a4ca;
    --quaternary-color:#feffff;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    
}
ul{
    list-style: none;
}
/* navbar */
nav{
    background-color: var(--tertiary-color);
    display: flex;
    justify-content:space-between;
    min-height: 3rem;
    
}
nav .container{
    align-items: center;
    position: relative;
}

nav i{
    font-size: 2rem;
    cursor: pointer;
    
}
/* navbar dropdown-menu */
nav .dropdown-menu{
    display: none;
   
    position: absolute;
    top: 2.5rem;
    right: 0rem;
    border-radius: 5px;
}

nav i:hover +.dropdown-menu{
    display: flex;
    
}
.dropdown-menu:hover{
    display: flex;
    
}
nav ul{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    gap: 1rem;
}
nav ul li:hover{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 1rem;
}
.dropdown-menu li{
    cursor: pointer;
    padding: 1rem;
}
/* main section */
.main-page{
    background-color: var(--secondary-color);
    display: flex;
    justify-content:space-between;
    min-height: calc(100vh - 11rem);
    height: fit-content;
}
.main-table{
    background-color: var(--primary-color);
    border-radius: 15px;
    min-height: 68vh;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 1rem ;
}
/* left table */
.left-table{
    flex-grow: 1;
    background-color: var(--tertiary-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-width: 50%;
    min-height: 68vh;
    overflow: hidden;
    
}
.left-table h3{
    font-weight:lighter;
   
    
}
.left-table ul{
   
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.left-table a{
    text-decoration: none;
    background-color: var(--secondary-color);
    color:var(--quaternary-color);
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 1rem;
    
}
/* right table */
.right-table{
    flex-grow: 1;
    min-width: 50%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-table form{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 90%;
}
.right-table form input{
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 0.1rem;
    
}
.right-table form button{
    background-color: var(--tertiary-color);
    border: none;
    height: 3rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 0.5rem;
    color:var(--quaternary-color)
}
/* footer */
footer{
    background-color: var(--primary-color);
    min-height: 8rem;
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    min-height: 8rem;

}
footer .container .left{
    display: flex;
    flex-direction: column;
    
    
    
    width: 50%;
}
footer .container .left p{
    font-weight:lighter;
    font-size: smaller;
    color:rgb(216, 216, 216);
    margin: auto 0;
}
footer .container .center{
    display: flex;
    justify-content: center;
    width: 25%;
    text-align: center;
}
footer .container .right{
    display: flex;
    justify-content: center;
    width: 25%;
    text-align: center;
}
/* for both center and right */
footer .container ul{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

@media (max-width:950px) {
    /* main section */
    .left-table{
        width: 100%;
    }
    /* footer */
    footer .container .left{
        width: 100%;
    }
    footer .container .center{
        width: 50%;
    }
    footer .container .right{
        width: 50%;
    }
}