/* reset */
*{
    margin: 0;
    padding: 0;
}
/* root values */
body{
    color: var(--quaternary-color);
    
    
}
:root{
    --primary-color:#212a32;
    --secondary-color:#2a343d;
    --tertiary-color:#10a4ca;
    --quaternary-color:#feffff;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    
}
ul{
    list-style: none;
}
/* navbar */
nav{
    background-color: var(--tertiary-color);
    display: flex;
    justify-content:space-between;
    min-height: 3rem;
    
}
nav .container{
    align-items: center;
    position: relative;
}

nav i{
    font-size: 2rem;
    cursor: pointer;
    
}
/* navbar dropdown-menu */
nav .dropdown-menu{
    display: none;
   
    position: absolute;
    top: 2.5rem;
    right: 0rem;
    border-radius: 5px;
}

nav i:hover +.dropdown-menu{
    display: flex;
    
}
.dropdown-menu:hover{
    display: flex;
    
}
nav ul{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    gap: 1rem;
}
nav ul li:hover{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 1rem;
}
.dropdown-menu li{
    cursor: pointer;
    padding: 1rem;
}
/* main section */
.main-page{
    background-color: var(--secondary-color);
    display: flex;
    justify-content:space-between;
    min-height: calc(100vh - 11rem);
    height: fit-content;
}
.main-table{
    background-color: var(--primary-color);
    border-radius: 15px;
    min-height: 68vh;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 1rem ;
}
/* left table */
.left-table{
    flex-grow: 1;
    background-color: var(--tertiary-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-width: 50%;
    min-height: 68vh;
    overflow: hidden;
    
}
.left-table h3{
    font-weight:lighter;
   
    
}
.left-table ul{
   
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.left-table a{
    text-decoration: none;
    background-color: var(--secondary-color);
    color:var(--quaternary-color);
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 1rem;
    
}
/* right table */
.right-table{
    flex-grow: 1;
    min-width: 50%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup{
    flex-direction: column;
    width: 100%;
    height: 95%;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.signup>:nth-child(1){
    margin-bottom: 2vh;
}
.right-table form{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.right-table form input{
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 0.1rem;
    
}
.right-table form button{
    background-color: var(--tertiary-color);
    border: none;
    height: 3rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 0.5rem;
    color:var(--quaternary-color)
}
.txt-green{
    color: green;
    
}
.txt-red{
    color: red;
    
}
.right-table form select{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.right-table form select option:hover{
    cursor: pointer;
    color: red;
    background-color: var(--tertiary-color);
}
.right-table p span{
    cursor: pointer;
    color: var(--tertiary-color);
}
/* footer */
footer{
    background-color: var(--primary-color);
    min-height: 8rem;
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    min-height: 8rem;

}
footer .container .left{
    display: flex;
    flex-direction: column;
    
    
    
    width: 50%;
}
footer .container .left p{
    font-weight:lighter;
    font-size: smaller;
    color:rgb(216, 216, 216);
    margin: auto 0;
}
footer .container .center{
    display: flex;
    justify-content: center;
    width: 25%;
    text-align: center;
}
footer .container .right{
    display: flex;
    justify-content: center;
    width: 25%;
    text-align: center;
}
/* for both center and right */
footer .container ul{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

@media (max-width:950px) {
    /* main section */
    .left-table{
        width: 100%;
    }
    /* footer */
    footer .container .left{
        width: 100%;
    }
    footer .container .center{
        width: 50%;
    }
    footer .container .right{
        width: 50%;
    }
}







/*user*/
/* reset */

/* main section */
.main-page{
    background-color: var(--secondary-color);
    display: flex;
    min-height: calc(100vh );
    height: fit-content;
}
/*side bar*/
.main-page .side-bar{
    background-color: var(--tertiary-color);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
.main-page .side-bar ul{
    display: flex;
    flex-direction: column;

    height: 90%;
    justify-content: space-around;
}
.main-page .side-bar ul{
    width: 100%;
    
    text-align: center;
    
}

.main-page .side-bar ul li{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page .side-bar ul li:hover{
    border-radius: 1rem;
    
    background-color: var(--primary-color);
    cursor: pointer;
}
.main-page .side-bar button{
    padding:1rem 4rem;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    cursor: pointer;
    border: none;
    border-radius: 1rem;
}
.main-page .side-bar button:hover{
    opacity: 90%;
}
.main-page .side-bar button:active{
    opacity: 80%;
}
/*content section*/
.content-section{
    display: flex;
    width: 100%;
    
}
.section{
    display: none;

}
.show{
    display: block;
    width: 100%;
}

/*notifications section*/
.not-icon-holder{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    background-color: var(--primary-color);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;
    
}
.hidden{
    display: none;
}
.notifications{
    right: 0;
    height: 100vh;
    width: 22%;
    background-color: var(--primary-color);
}
.notifications .x-button{
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: 100;
    opacity: 80%;
}

.msg-icon-holder{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
    background-color: var(--primary-color);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;
    
}
/*handling individual sections*/
.to-do-list{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.task{
    background-color: var(--primary-color);
    height: 35vh;
    width: 17.5vw;
    text-align: center;
    color: var(--quaternary-color);
    border: 0.01rem solid var(--tertiary-color);
    border-radius: 1rem;
   
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
}
.task button{
    width: 70%;
    border: none;
    border-radius: 1rem ;
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    height: 15%;
}
.task button:hover{
    opacity: 85%;
}
@media (max-width:950px) {
    .task{
        width: 80%;
    }
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.sub-profile-square{
    height: 70%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:rgb(181, 176, 176);
    text-align: center;
    overflow: auto;
}
.profile .button{
    flex-grow: 1;
    width:5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile .button button{
    width: 8rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    cursor:pointer;
}
.profile .button button:hover{
    opacity: 85%;
}
.profile .button button:active{
   opacity: 75%;
}
.profile form{
    min-width: 70%;
}
.profile .labels{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: start;
}
.profile label{
    margin-left: 1rem;
    min-width: 30%;
}
.profile input{
    
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    border: none;
    color:var(--quaternary-color)
}
/* //wallet section */
.wallet{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
/*cards section*/
.cards-section{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}
.cards-holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.cards-titles{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    
    text-align: center;
    padding-left: 1rem;
   
    height: 5vh;
   
    display: flex;
    
    align-items: center;
    padding-right: 1rem;
}
.cards-titles>*{
    width: 20%;
}
.card-component{
    width: 95%;
    background-color: var(--secondary-color);
    text-align: start;
    
    border-radius: 1rem;
    height: 5vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    border-bottom: 0.1vh solid var(--tertiary-color);
}
.card-component .details:hover{
    background-color: var(--tertiary-color);
}
.card-component .details{
    display: flex;
    text-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
    min-height: 5vh;
}
.card-component .details>*{
    width: 20%;
}
/* the whole transactions section */
.card-component .transactions{
    margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   padding-left: 1rem;
    overflow:auto;
    
}
/* each individual transaction */
.card-component .transaction{
    border-bottom: 1px solid var(--primary-color) ;
    height: 5vh;
    display: flex;
    width: 100%;
}
.card-component .transaction>*{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card-component .details:active{
    background-color: var(--tertiary-color);
}
.expanded-card-component{
    height: 20vh;
}
.expanded-details{
    background-color: var(--tertiary-color);
}


/* transactions section */
.transactions-titles{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5vh;
   
    display: flex;
    
    align-items: center;
    
}
.transactions-titles>*{
    width: 16.6666%;
}
.transaction-component{
    width: 95%;
    background-color: var(--secondary-color);
    text-align: start;
    
    border-radius: 1rem;
    height: 5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    border-bottom: 0.1vh solid var(--tertiary-color);
}
.transaction-component>*{
    width:16.6666%;
    text-align: center;
    
}
.transaction-component:hover{
    background-color: var(--tertiary-color);
}

/* support */
.support .labels:nth-child(1){
    background-color: red;
}
textarea{
    width: 90%;
    height: 60%;
}








/*admin*/
.content-section .adminContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.content-section .adminContainer>*{
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    
    flex-direction: column;
    justify-content: space-around;
}
.showAdmin{
    display: flex;

}
/* overview */
.content-section .container .overview>:nth-child(2){
    height: 45%;
    background-color: var(--primary-color);
    border-radius: 1rem;


}

.upper-overview{
    
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}
/*top left and right  */
.upper-overview>*{
    background-color: var(--primary-color);
    width: 49%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
/*top left and right titles */
.upper-overview>*>h1{
    height: 20%;
    background-color: red;
    width: 100%;
    text-align: center;
    margin-top: auto;
}
/*top left and right graphs */
.upper-overview>*>div{
    height: 70%;
    background-color: blue;
    width: 100%;
    text-align: center;
    margin-bottom: auto;
}
.lower-overview{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.lower-overview>h1{
    height: 20%;
    width: 100%;
    background-color: blue;
    margin-top: auto;
}
.lower-overview>div{
    height: 70%;
    width: 100%;
    background-color: red;
    margin-bottom: auto;
}



/* analytics */
.analytics{
    overflow: auto;
}
.analytics{
    scrollbar-color: red;
    
    overflow: auto;

}
.analytics-template{
    min-height: 80vh;
    border: 0.1rem solid var(--primary-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 5vh;
    overflow: hidden;
}
.analytics-template .head-of-analytics{
    opacity: 80%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
    border-bottom: 0.1rem solid var(--primary-color);
}
.analytics-template .head-of-analytics:hover{
    background-color: var(--tertiary-color);
}
.analytics-template .head-of-analytics span{
    cursor: pointer;
}
.analytics-template .set-of-analytics{
    height: 70vh;
    
}
.collapse{
    min-height: 10vh;
    max-height:10vh;
}


